.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-evenly;
    background-color: white;
    position: relative;
    top: 15vh;
    width: fit-content;
    border-radius: 15px;
    background: linear-gradient( 45deg, #dd9f9f, #81dcffa3);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    color: black;
    text-shadow: 1px 1px 6px #535353;
}
.btn{
    display: block;
    background: linear-gradient(
    45deg, #e05b51, #464f51);
    margin-top: 17px;
    width: 150px;
    height: 50px;
    border: 2px solid #413a3afc;
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: calc(50% - 75px);
}
.btn:hover{
    border-color:red;
    font-size: 2rem;
    transition: 0.3s;
    letter-spacing: 1px;
}
input{
    margin: 10px 0;
}
.alert{
    margin-bottom: 0;
}
.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
