body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    position: relative;
    top: 5vh;
    width: 80vw;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px gray ;
}
