:root{
    --maincolor : rgba(183, 0, 255, 0.815);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
        linear-gradient(
        var(--maincolor), 
        var(--maincolor)
        ),
        url(https://i.pinimg.com/originals/0c/96/b1/0c96b19dc89ffdaa7ff737cfc04a095f.png);
}
.main-container,.main-row{
    border-radius: 25px;
    position: relative;
    top: 5vh;
    width: 80vw;
}
/* .main-row{
    box-shadow: 4px 4px 10px 2px grey;
} */
.name-heading{
    color: white;
}
.left-div,.right-div{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    box-shadow: 1px 1px 5px 1px white;
    /* justify-content: center; */
}
.left-div{
    background-color: white;
    border-radius: 25px 0 0 25px;
    padding-top: 10%;
    /* margin-bottom: 20px; */
}
.right-div{
    background-color: white;
    border-radius: 0 25px 25px 0;
    color: white;
    justify-content: center;
}
@media (max-width:768px) {
    .left-div,.right-div{
        margin-bottom: 15px;
        border-radius: inherit;
        box-shadow: 4px 4px 10px 2px grey;
    }
}
.image{
    width: 70%;
    height: 50%;
}
.image img{
    width: 100%;
    height: 100%;
}
.right-div form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.right-div h2{
    color: black;
    margin-bottom: 10px;
}
.right-div input, textarea{
    border-radius: 25px;
    width: 70%;
    margin-top:10px;
    height: 40px; 
    padding-left: 10px;
    background-color: rgb(231, 227, 227);
    padding-top: 0;
}
#description{
    height: 100px;
    width: 70%;
    border-radius: 25px;
    background-color: rgb(231, 227, 227);
}
.right-div button,.left-div button{
    width: 70%;
    border-radius: 25px;
    margin: 2px;
    margin-top: 10px;
    background-color: var(--maincolor);
}

.buttons-div{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-div select{
    width: 80%;
    margin-left: 10px;
    border-radius: 25px;
    background-color: rgb(231, 227, 227);
    color: gray;
}
.options{
    display: flex;
    margin-top: 10px;
    width: 70%;
    padding-left: 10px;
    line-height: 40px;
    height: 40px;
    justify-content: space-around;
}
.right-div label{
    font-weight: 500;
}